.title {
  border-bottom: 3px solid #3c4790;
  width: 866px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.title > h3 {
  color: #3c4790;
  font-size: 14px;
  vertical-align: -3px;
  margin-top: 42px;
}

.all_cont {
  margin: 0 auto;
  width: 868px;
}

.infrom_nav {
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.infrom_nav > li {
  display: inline;
  padding: 0;

  border-radius: 10px;
  border: solid 1px black;
  border-color: #3a4892;
  background: #fff;
  color: #3c4790;
  font-weight: bold;
  text-shadow: none;
  padding: 15px 60px 15px 65px;
}

.contbox {
  min-height: 398px;
  border: 1px #cecdce solid;
  border-radius: 5px;
  width: 868px;
  margin: 0 auto;
}

.contenter {
  padding-top: 116px;
  color: #333;
  line-height: 22px;
}

.tit {
  display: block;
  font-size: 16px;
  color: #d31900;
  font-size: 14px;
}

.from_box,
.tit {
  width: 350px;
  margin: 0 auto;
  font-size: 16px;
}

.int {
  margin-top: 12px;
  margin: auto 25px;
  width: 290px;
  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  color: #555;
}

.but {
  background: #4a57a8;
  border-color: #3c4790;
  text-shadow: 0px -1px #343d8e;
  color: #fff;
  width: 290px;
  height: 35px;
  line-height: 35px;
  margin: auto 25px;
  margin-top: 12px;
}
