.cont_box {
  min-height: 398px;
  border: 1px #cecdce solid;
  border-radius: 5px;
  margin: 0 auto;
  width: 870px;
}

.cont_from {
  margin: auto 95px;
}

.con {
  padding: 78px 0 58px;
  margin: 0 auto;
}

.user_tit,
.name_tit,
.email_tit,
.nikname_tit {
  width: 177px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.user_id_box,
.user_nikname_box,
.user_name_box,
.user_email_box {
  display: flex;
}

.user_nikname_box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.user_name_box {
  margin-bottom: 30px;
}

#user_id,
#name {
  width: 500px;
  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

#nikname {
  width: 386px;
  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

#email {
  width: 155px;
  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

p {
  clear: both;
  margin-top: 11px;
  font-size: 12px;
  color: #999;
  text-align: left;
}
