.aa > div > ul > li {
  list-style: none;
  display: inline;
  position: relative;
  float: left;
  margin-left: 20px;
}

.aa > div > ul {
  background-color: crimson;
  height: 50px;
  margin: 0;
}
.aa {
  width: 500px;
  height: 400px;
  background-color: cornflowerblue;
}
