@charset "UTF-8";
@font-face {
	src: url(../css/BMJUA_ttf.ttf);
	font-family: "ex1";
}

.se {
  margin: 205px auto 233px;
}

.from {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  border: 2px #3c4790 solid;
  border-radius: 3px;
}

.ping {
  float: left;
  width: 290px;
  padding: 25px 56px 0;
}

input::placeholder {
  font-size: 15px;
}

.id,
.pw {
  width: 290px;
  border: 0px;
  /* border-bottom: 1px solid steelblue; */
  font-size: 20px;
  margin-top: 20px;
}

.pw {
  color: #555555;
}
.id {
  display: block;
  margin-bottom: 10px;
}

.login {
  margin-top: 20px;
  width: 290px;
  height: 40px;
  border: 0px;

  background-color: #4a57a8;
  color: aliceblue;
}

.nav {
  width: 290px;
  border-top: 1px #aaa dashed;
  margin-top: 16px;
  padding-top: 15px;
  text-align: center;
}

.nav > a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.nav .f::before {
  content: "|";
  display: inline-block;
  color: #d7d7d7;
  padding: 0 11px 0 6px;
  font-size: 10px;
}

.header_re {
	height: 85px;
	width: 868px;
	position: relative;
    width: 1050px;
    height: 105px;
    margin: 0 auto;
}

.header {
	background: #3c4790;
}

.header_re > .but > h4 {
	
	display: inline-block;
	
	font-size: 20px;
	color: white;
	
	font-style: italic ; 
	font-weight: bold; 
	font-size: 2em;
	line-height: 1.0em; 
	color: white;
	font-family: ex1;
	
	margin-top: 45px;
}


.login_t {
	
	display: inline;
	font-size: 20px;
	color: white;
	font-size: 1.5em;
	line-height: 1.0em; 
	color: white;
}

.but {
	cursor:pointer;
	display: inline;
}

.coco {
	border: 1px solid;
	float: right;
    width: 300px;
    border: 1px solid;
    height: 297px;
}
