@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
}

.contr {
  width: 868px;
  margin-top: 37px;
  margin: 20px auto 0;
  font-size: 12px;
}

.content_main {
  display: flex;
}

.id {
  width: 33.3%;
  border-color: #3a4892;
  background: #fff;
  color: #3c4790;
  font-weight: bold;
  text-shadow: none;

  display: block;
  height: 56px;
  line-height: 56px;
  margin-left: 8px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  border: 2px #3a4892 solid;
  text-decoration: none;
}

.pw {
  width: 33.3%;
  display: block;
  height: 56px;
  line-height: 56px;
  margin-left: 8px;
  border: 2px #aaabab solid;
  border-radius: 10px;
  background: #aaabab;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 0px -1px #909292;
  text-decoration: none;
}

.main_name {
  margin-top: 30px;
  vertical-align: top;
  border-bottom: 2px solid #3c4790;

  color: #3c4790;
  font-size: 14px;
  vertical-align: -3px;

  height: 32px;
}

.header_re {
  height: 85px;
  width: 868px;
  position: relative;
  width: 1050px;
  height: 105px;
  margin: 0 auto;
}

.header {
  background: #3c4790;
}

.header_re > .but > h4 {
  display: inline-block;

  font-size: 20px;
  color: white;

  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  color: white;
  font-family: ex1;

  margin-top: 45px;
}

.contbox {
  /* min-height: 398px;*/
  border: 1px #cecdce solid;
  border-radius: 5px;
}

.red {
  text-align: center;
  color: red;
  font-size: 16px;
}

.inTag {
  margin-bottom: 20px;
  width: 80%;

  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
  background: #f3f3f3;
}

.txt_input {
  margin: 0 auto;
  width: 605px;
  padding: 58px 0 58px;
}

.form_box {
  padding: 43px 0 47px;
  margin: 26px 0 35px;

  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.input_email {
  width: 50%;
  height: 35px;
  padding: 0px 9px 0 9px;
  line-height: 33px;
  border: 1px #cecdce solid;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
  margin-top: 7px;
}

.pw_txt {
  margin: 0px;
  margin-bottom: 30px;
  margin-top: 15px;
  margin: 0 auto;
}

.input_but {
  width: 50%;
  margin: 0 auto;

  height: 35px;
  line-height: 35px;

  margin-top: 20px;
  background: #4a57a8;
  border-color: #3c4790;
  text-shadow: 0px -1px #343d8e;
  color: #fff;

  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}
