@charset "UTF-8";
html{
	display: flex;
	justify-content: center;
}
body{
	width: 70%;	
}
header{
	text-align: center;
	color: #A4A4A4;
	height: 120px;
}
main {
	margin-top: 100px;
}

.writing_bitton{
	display: flex;
/* 	justify-content: flex-end; */
	margin-right: 320px;
}

table {
	margin: auto;
/* 	border: 1px solid rgba(0, 0, 0, 0.12); */
}
td {
	padding-left: 1.6rem;
	padding-right: 50px;	
	padding-top: 4px;
	padding-bottom: 4px;
}
th {
	padding-left: 1.6rem;
	text-align: left;	
	padding-top: 10px;
	padding-bottom: 10px;
	color: #757575;
	border-bottom: 2px solid #757575; 
}

.title {
	width: 550px;
}

.writer {
	width: 100px;
}

/* ______________________________________________ */

.writing_div {
	display: flex;
	justify-content: space-between;
}
#writing {
	margin-right:10px;
	color:#386781;
	background-color: white;
	border: 1px solid #386781;
	width: 100px;
    height: 30px;
}

.notice {
	color:#91404a;
	background-color: white;
	border: 1px solid #91404a;
	width: 100px;
    height: 30px;

}

/* ___________________________________________________________ */
.login_forme {
	
}
.table_list {
	display: flex;
	justify-content:center;
}

a {
	 color: black; 
	 text-decoration: none;
}
/* #modify { */
/* 	color:#386781; */
/* 	background-color: white; */
/* 	border: 1px solid #386781; */
/* 	width: 100px; */
/*     height: 30px; */
/* } */

.user_name {
    border: 1px solid #7daf9d;
    height: 60px;
    padding: 10px;
    width: 280px;
    display: table;
}

.user_inform, .user_name_in {
	margin-top: 0;
}

.user_nav_hid {
	border: 1px solid #7daf9d;
    height: 200px;
    padding: 10px;
    width: 280px;
    z-index: 1;
 	display: none;
}

.user_contariner {
	display: flex;
  	flex-direction: column;
  	 position: relative;
  	 width: 302px;
}






