body {
  margin: 0px;
}
.item1 {
  margin: auto;
  grid-area: header;
}
.item2 {
  grid-area: nav;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.nav {
  background-color: #4a56a8;
  padding-left: 10.4%;
  text-align: left;
  margin: 0;
  height: 50px;
}

.pk {
  color: darkorange;
}
.nav > li {
  list-style: none;
  display: inline;

  color: azure;

  position: relative;
  padding: 16px;
  float: left;
  margin-left: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% repeat(3, auto) 25%;
  grid-template-rows: 2fr 2fr 1fr 6fr;
  grid-template-areas:
    " header header header header header"
    " nav nav nav nav nav"
    " . btn . . ."
    " . main main main right"
    " footer footer footer footer footer";
  grid-gap: 10px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 5% 50% 15% 25%;
  grid-auto-rows: 25px;
  row-gap: 10px;
  align-items: center;
  grid-template-areas:
    " header header header header "
    " main main main right "
    " footer footer footer footer ";
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}
.user_name {
  border: 1px solid #7daf9d;
  height: 60px;
  padding: 10px;
  width: 280px;
  display: table;
}

.user_inform,
.user_name_in {
  margin-top: 0;
}

.user_nav_hid {
  border: 1px solid #7daf9d;
  height: 200px;
  padding: 10px;
  width: 280px;
  z-index: 1;
  display: none;
}

.user_contariner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 302px;
}

.seqno,
.title,
.writer,
.date {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-container > .grid-container1 > div {
  padding: 30%;
}

.writing_bitton {
  grid-area: btn;
}

.writing_div {
  display: flex;
  justify-content: space-between;
}
#writing {
  margin-right: 10px;
  color: white;
  background-color: #4a57a8;
  border: 1px solid #444647;
  width: 100px;
  height: 30px;
}

.notice {
  color: #91404a;
  background-color: white;
  border: 1px solid #91404a;
  width: 100px;
  height: 30px;
}
