body {
  padding: 0px;
  margin: 0px;
}
.nav {
  background-color: #4a56a8;
  padding-left: 10.4%;
  text-align: left;
  margin: 0;
  height: 50px;
}

.header {
  text-align: center;
}

.pk {
  color: darkorange;
}
.nav > li {
  list-style: none;
  display: inline;

  color: azure;

  position: relative;
  padding: 16px;
  float: left;
  margin-left: 20px;
}
.frm {
  margin-bottom: 100px;
  margin: 0 auto;
  width: 1160px;
  height: 50%;

  border: 2px solid #d5d5d5;
}

.con {
	padding: 33px 68px 70px;
}

.input_t {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}

.header_c {
  padding-bottom: 6px;
  border-bottom: 2px solid #4a56a8;
  color: rgb(60, 71, 144);
  width: 1160px;
  height: 37px;
  margin-bottom: 3px;
  padding-top: 4px;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 52px;
}

.name > h4 {
	padding: 0px;
}

.writer,
.pw {
  font-weight: bold;
  font-size: 13px;
  width: 204px;
  height: 33px;
  padding: 0 12px;
  line-height: 35px;
  border: 1px solid #cecdce;
  color: #333;
}

.title {
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  display: block;
  width: 702px;
  height: 33px;
  padding: 0 12px;
  line-height: 35px;
  border: 1px solid #cecdce;
  color: #333;
}

.write_infobox {
  padding-inline-start: 0.75em;
  line-height: 20px;
  font-size: 12px;
  color: #666;
}

.write_infobox > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  padding: 0px;
}

.blas {
  padding-inline-start: 0.75em;
  width: 1020px;
  height: 90px;
}

.content {
  font-size: 20px;
  resize: none;
  width: 1000px;
  height: 390px;
}

.cansle {
  background: #666;
  border-color: #444;
  text-shadow: 0px -1px #474747;
  color: #fff;

  width: 85px;
  height: 40px;
  padding-right: 2px;
  line-height: 38px;
  margin-left: 3px;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.submit {
  background: #4a57a8;
  border-color: #3c4790;
  text-shadow: 0px -1px #343d8e;
  color: #fff;

  width: 85px;
  height: 40px;
  padding-right: 2px;
  line-height: 38px;
  margin-left: 3px;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.but {
  position: relative;
  margin-top: 13px;
  float: right;
}

.dcfoot {
  clear: both;
  position: relative;
  padding-bottom: 50px;
  background: #fff;
  /* z-index: 15;*/
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
.info_policy {
  text-decoration: none;
  color: #333;
  width: 1050px;
  margin: 0px auto 0;
  padding-top: 28px;
  text-align: center;
}

.info_policy > a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.copyright {
  width: 1050px;
  margin: 10px auto 0;
  text-align: center;
  letter-spacing: 0;
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #333;
}

.file_p {
  margin: 0px;
  margin-bottom: 3px;
}

a {
  color: #666;
}

.fileUpload {
  list-style: none;
  padding: 0px;
}

.fileUpload > li {
  display: inline;
}
